@import "../../../design/constants.scss";

.gameScreen {
    height: $screenHeight;
    width: $screenWidth;

    // color: white;
    color: blue($color: #000000);
    // background-color: #000000;
    background-image: url("../../../image/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $gameFont;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContainer {
    height: 80vh;
    width: 80vw;
    margin: 5px;

    display: flex;
    flex-direction: row;
    background-color: $mainBackgroundColor;
    align-items: center;
    justify-content: space-evenly;
    opacity: 95%;
}

.heroContainer {
    display: flex;
    height: 55vh;
    width: 366px;
    border: 0;
    color: rgb(194, 53, 10);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: outset;

}

.heroTitle {
    width: 14vw;
    height: 5vh;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.heroImg {
    width: 366px;
    height: 260px;
    margin: 5px;
    background-image: url('../../../image/Ironclad.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.heroImg:hover{
    background-image: url('../../../image/Ironclad_bright.png');
    width: 376px;
    height: 270px;
}

.title{
    display: flex;
    align-items: center;
    height: 10vh;
    font-size: 20px;
    color: aliceblue;
    // text-align: center;
}
.backButton {
    border: 0;
    background: url('../../../image/cancel-button.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0%;
    color: white;
    width: 167px;
    height: 60px;
    position: absolute;
    margin-top: 450px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .backButton:hover {
    background: url('../../../image/cancel-buttonGlow.png');
    background-size: contain;
    background-repeat: no-repeat;
  }