@import "../../design/constants.scss";

.cardButton {
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.48);
    align-items: flex-start;
    padding: 1px;
    border-width: 0px;
    margin-left: 1px;
    margin-right: 1px;
    background: #828282bd;
    outline: none;
}

.cost {
    color: gold;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: bold;
    align-items:center;
    justify-content: center;
}

.card {
    height: 145px;
    width: 100px;

    padding: 5px;
    margin: 1px;
    position: relative;

    // font-family: monospace;
    background-image: url('../../image/card.png');
    background-color: #424242;
    background-size: cover;
    background-repeat: no-repeat;
}

.cardType{
    display: flex;
}

.cardFace {    
    position: absolute;
    height: 145px;
    width: 100px;
    overflow: hidden;

    .energy{
        font-family: $gameFont;
        font-size: 10px;
    }


    &:hover{   
        font-family: $gameFont; 
        font-size:xx-small;
        position: absolute;
        transform: translate(0px, 25px);
        height: 220px;
        width: 150px;
        background-color: #424242;
        background-image: url('../../image/card.png');
        background-size: cover;
        background-repeat: no-repeat;
        
        padding: 8px;

        bottom: 0;
        left: -50px;
        right: -50px;
        top: -75px;
        z-index: 100;

        border-style: solid;
        border-width: 5px;
        border-color: #828282bd;

        .cost {
            opacity:0%;
            height: 0;
        }

        .titleSection {
            align-items: center;
            height: 10%;
            opacity:80%;
            padding: 3px;
        }

        .cardDescription{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: rgb(146, 104, 104);
            width: 100%;
            height: 45%;
            opacity:100%;
        }

        .whiteDot{
            width: 8px;
            height: 8px;   
        }
        .redDot{
            width: 8px;
            height: 8px;  
        }
        .blueDot{
            width: 8px;
            height: 8px;  
        }
        .greenDot{
            width: 8px;
            height: 8px; 
        }
        .blackDot{
            width: 8px;
            height: 8px; 
        }
    }
}

.cardArt{
    width: 100%;
    height: 50%;
    margin-top: 5px;
}
.cardArt img{
    width: 62%;
    height: auto;
    border: 2px solid #481f1f;
    border-radius: 50%;
}

.titleSection {
    align-items: center;
    height: 16%;
    opacity:80%;
    padding: 3px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; 
    color: white; 
    font-size: 12px;
}

.costRow{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.energy {
    display: flex;
    color: yellow;
    width: 50%;
    justify-content: flex-start;
}

.requiredHero{
    display: flex;
    color: dodgerblue;
    width: 50%;
    justify-content: flex-end;
}

.cardDescription{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: silver;
    width: 100%;
    height: 45%;
    opacity:0%;
}

.redDot{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 25%;
    border-color: white;
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    margin: 1px;
}
.blueDot{
    width: 5px;
    height: 5px;
    background-color: dodgerblue;
    border-radius: 25%;
    border-color: white;
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    margin: 1px;
}
.greenDot{
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 25%;
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    margin: 1px;
}
.whiteDot{
    width: 5px;
    height: 5px;
    background-color: silver;
    border-radius: 25%;
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    margin: 1px;
}
.blackDot{
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 25%;
    border-style: solid;
    border-color: silver;
    border-width: 1px;
    margin: 1px;
}


@media only screen and (max-width: 750px) {

    .card {
        height: 75px;
        width: 50px;
    }

    .cardFace {    
        height: 75px;
        width: 50px;
        &:hover{    
            height: 150px;
            width: 125px;

            bottom: 0;
            left: -25px;
            right: -25px;
            top: -50px;
            padding: 8px;


            

        }
    }

}