@import "../../../design/constants.scss";


.cardButton {
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.48);
    align-items: flex-start;
    padding: 1px;
    border-width: 0px;
    margin-left: 2px;
    margin-right: 2px;
    background: #828282bd;
    font-size: 8px;
    user-select: none;
}

.button {
    margin: 20px;
    padding: 5px;

    width: 20vw;
    height: 40px;

    font-size: 12px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #6c6eb2 0%,#020227 64%,#000028 100%);
    border-radius: 15px;
    border: 5px solid #b4b9b4;

    overflow: auto;
}

.button:hover{
    background: linear-gradient(to bottom, #6c6eb2 0%,#080864 64%,#000028 100%);
    border: 3px solid #1f5e77;
}

.screenContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../../../image/bg-shop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.screen{
    display: flex;
    width: 70vw;
    height: 90vh;
    font-family: $gameFont;
    font-size:x-small;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $mainBackgroundColor;
    color: rgb(206, 104, 9);
    font-weight: bold;
    opacity: 97%;
}
