@import "../../../design/constants.scss";

.screenContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("../../../image/bg-trial.jpg");
}


.screen{
    display: flex;
    width: 70vw;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    background-color: $mainBackgroundColor;
    opacity: 97%;
}

.trialTitle{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    left: 7vw;
    top: 7vh;
}

.artContainer{
    width: 55vh;
    height: 55vh;

    outline-width: 2px;
    outline: snow;
    outline-style: solid;
    margin: 10px;
}

.trialInfoContainer{
    display: flex;
    flex-direction: column;
    width:40vw;
    height: 70vh;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    background-image: url("../../../image/trialDescription.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.trialDescription{
    width: 30vw;
    height: 30vh;
    margin: 5px;
    padding-top: 12vh;
    padding-left: 50px;
    padding-right: 20px;
    font-size:larger;
}

.trialOptions{
    display: flex;
    width: 25vw;
    height: 10vh;
    margin: 2px;
    // background-image: url("../../../image/trialOption.png");
    // background-repeat: no-repeat;
    // background-size:contain;
    border: 0;
    color: rgb(243, 239, 239);
    margin: 5px;
    align-items: center;
    border-radius: 15px;
    border: 5px solid #b4b9b4;
    background-color: rgb(98, 120, 148);
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
}

.trialOptions:hover{
    background-color: rgb(62, 100, 150);
    width: 26vw;
    height: 11vh;
}

.trialOptionsContainer{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 20px;
}

.resultWindow{
    display: flex;
    width: 90vw;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    position: absolute;
}

.reultText{
    display: flex;
    flex-direction: column;
    width:40vw;
    height: 70vh;
    margin-top: 40px;
    align-items: center;
    justify-content: center;

    background-image: url("../../../image/trialDescription.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10vh;
}