@import "../../../design/constants.scss";


.discardZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: black;
    font-size: 12px;
    margin-right: 3vw;
    margin-top: 100px;

}

.void {
    color: rgb(247, 25, 9);
    text-align: center;
    margin: 10px;
}

.discard {
    color: white;
    text-align: center;
    margin: 10px;
}

