@import "../../../design/constants.scss";

.bonfireOption{
    display: flex;
    width: 150px;
    height: 150px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
    flex-direction: column;
    
    font-weight: bold;
    font-size: 20px;
    color: rgb(94, 87, 87);
    padding: 20px;
    background-image: url("../../../image/bonfireOption.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $mainBackgroundColor;
    &:hover{
        background-image: url("../../../image/bonfireOption-hover.png");
    }
}

.bonfireOptionOff{
    display: flex;
    width: 150px;
    height: 150px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
    flex-direction: column;
    
    font-weight: bold;
    font-size: 20px;
    color: rgb(94, 87, 87);
    padding: 20px;
    opacity: .5;
    background-image: url("../../../image/bonfireOption.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $mainBackgroundColor;
}

.subtext{
    font-size: small;
    color: white;
}

.screenContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url("../../../image/bg-bonfire.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.screen{
    display: flex;
    width: 70vw;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    background-color: $mainBackgroundColor;
    opacity: 97%;
}

.heroLineUp{
    display: flex;
    flex-direction: row;
}